# Ignore IDE auto generate files
/.idea
/.vscode

# Ignore auto generate components files
/node_modules
/public/build

# Ignore linked folder
/public/storage

# Ignore logs folder
/storage/logs

# Ignore local environnements datas
/.env
/package-lock.json