:root {
    --font-primary: 'Pacifico', Arial, serif;
    --font-secondary: Arial, sans-serif;
    --color-primary: #990000;
    --color-primary-hover: #ff0000;
    --color-secondary: #009900;
    --color-text-light: white;
    --color-text-dark: black;
    --border-color: black;
    --background-light: white;
    --background-dark: #5c0000;
}

@font-face {
    font-family: 'Pacifico';
    src: url("../fonts/Pacifico-Regular.ttf") format("truetype");
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0 10%;
    }
}

body {
    font-family: var(--font-secondary);
}

h2, h3 {
    font-size: 2rem;
    text-align: center;
    font-family: var(--font-primary);
}

h2 {
    font-size: 2.5rem;
}

.logo {
    color: var(--color-text-light);
    font-family: var(--font-primary);
    font-weight: bolder;
    font-size: 2rem;
    align-self: center;
}

nav, footer > div {
    height: 12.5vh;
    border: solid 1px var(--border-color);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav.red_section {
    background: var(--color-primary);
    padding: 0 25px;
}

nav ul {
    list-style: none;
    margin-top: auto;
    margin-bottom: auto;
}

nav li {
    display: inline;
    margin-left: 20px;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-text-light);
}

.red_section {
    background: var(--color-primary);
}

.red_section > h2 {
    color: var(--color-text-light);
}

.white_section {
    background: var(--background-light);
    padding: 5px 5px 30px 5px;
}

h2, h3 {
    color: var(--color-secondary);
}

section {
    min-height: 100vh;
    padding: 5px;
    border-top: solid 1px var(--border-color);
    border-right: solid 1px var(--border-color);
    border-left: solid 1px var(--border-color);
}

#banner {
    height: 100vh;
    background-image: url("../images/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--color-text-light);
    font-weight: bolder;
}

#banner > h1 {
    font-family: var(--font-primary);
    font-size: 4rem;
}

#banner > a {
    width: 300px;
    align-self: center;
    border: solid 1px var(--border-color);
    border-radius: 20px;
    background-color: var(--color-primary);
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    text-decoration: none;
    color: var(--font-primary)
}

#banner > a:hover {
    background-color: var(--color-primary-hover);
}

#carte {
    padding-bottom: 50px;
}

.carte {
    margin-top: 5vh;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.menu-image {
    margin-top: 3vh;
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    transition: transform .2s;
}

.menu-image:hover, .menu-recipe:hover {
    transform: scale(1.15);
}

.menu-recipe {
    margin-top: 2vh;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: transform .2s;
}

@media screen and (max-width: 1000px) {
    .menu, .menu-image, .menu-recipe {
        width: 90vw;
        font-size: 1.5rem;
    }
}

.points-separator {
    flex-grow: 1;
    border-bottom: dotted 2px;
    margin: 0 5px 5px 5px;
}

#services {
    text-align: center;
}

.menu-services {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
}

.duo-services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.reverse {
    display: flex;
    flex-direction: column-reverse;
}

.service {
    height: 25vh;
    width: 25vw;
    margin-bottom: 5vh;
    transition: transform .2s;
}

.service:hover {
    transform: scale(1.15);
}

@media screen and (max-width: 1360px) {
    .service {
        height: 20vh;
        width: 40vw;
    }

    .menu-services {
        margin-top: 8vh;
        flex-direction: column;
    }

    .reverse {
        flex-direction: row-reverse;
    }
}

.service-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid var(--border-color);
    background: var(--background-dark);
    color: var(--color-text-light);
}

.service-text > p {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 1.5rem;
}

.service-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contact {
    text-align: center;
}

#contact > div {
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.informations, .location {
    width: 30vw;
    height: 50vh;
}

.informations {
    display: flex;
    flex-direction: column;
    color: var(--color-secondary);
    justify-content: space-evenly;
}

.information {
    width: 30vw;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
}

.information > img {
    width: 5vw;
}

@media screen and (max-width: 1024px) {
    #contact > div {
        margin-top: 3vh;
        flex-direction: column;
    }

    .informations, .location {
        align-self: center;
        width: 90vw;
    }

    .informations {
        height: 20vh;
        flex-direction: row;
    }

    .information {
        flex-direction: column;
        justify-content: center;
    }

    .information > img {
        margin-bottom: 2vh;
    }

    .information > img {
        width: 7.5vw;
    }
}

.location {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#contact_form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contact_form li + li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: 0.5em;
}
